<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
/ <a href="/staff_home">Back</a>
<h1>Top 3 Destinations</h1>

<h2>Last 3 Months</h2>
<table>
	<th>Airport</th>
	<th>City</th>
{% for line in destinations_month %}
<tr>
	<td>{{line['arrival_airport']}}</td>
	<td>{{line['city']}}</td>
</tr>
{% endfor %}
</table>

<h2>Last 3 Years</h2>
<table>
  <th>Airport</th>
	<th>City</th>
{% for line in destinations_year %}
<tr>
	<td>{{line['arrival_airport']}}</td>
	<td>{{line['city']}}</td>
</tr>
{% endfor %}
</table>

</body>

</html>
