<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>Air Ticket Online</title>
</head>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<body>
<a href="/logout">Logout</a>
/ <a href="/view_all_customers">Back</a>
<h1>Flights {{name}} has taken</h1>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
  <th>Departure Date</th>
  <th>Departure Time</th>
  <th>Arrival Date</th>
  <th>Arrival Time</th>
  <th>Source</th>
  <th>Destination</th>
{% for line in flights %}
<tr>
	<td>{{line['airline_name']}}</td>
	<td>{{line['flight_number']}}</td>
  <td>{{line['departure_date']}}</td>
  <td>{{line['departure_time']}}</td>
  <td>{{line['arrival_date']}}</td>
  <td>{{line['arrival_time']}}</td>
  <td>{{line['departure_airport']}}</td>
  <td>{{line['arrival_airport']}}</td>
</tr>
{% endfor %}
</table>

</body>

</html>
